@import "primeicons/primeicons.css";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 16px;
  width: 100%;
  max-width: 1200px;
}
.form-field {
  margin-bottom: 2rem;
}

.text-right {
  text-align:right;
}

.w-100 {
    width: 100%;
}