<p-table [value]="tasks()" responsiveLayout="stack">
  <ng-template #header>
    <tr>
      <th>Название</th>
      <th>Категория</th>
      <th>Приоритет</th>
      <th>Сделано</th>
      <th>Удалить</th>
    </tr>
  </ng-template>
  <ng-template #body let-task>
    <tr
      app-card
      [task]="task"
      (remove)="remove.emit($event)"
      (toggled)="toggled.emit($event)"
    ></tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5" style="text-align: center; padding: 1rem">
        Список данных задач пуст <br />
       <a routerLink="/add-task">{{ 'Создай задачу' | uppercase }}</a>
      </td>
    </tr>
  </ng-template>
</p-table>
